.story {
    width: 75%;
    height: 15rem;
    background-image: linear-gradient(to right ,$color-primary-light, $color-grey-dark);
    color: $color-primary-dark;
    margin: 0 auto;
    margin-bottom: 3rem;

    &__image {


        &--1 {
            width: 20rem;
            height: 15rem;
            float: left;
        }

        &--2 {
            width: 20rem;
            height: 15rem;
            float: left;
        }
    }
    
    &__text {
        font-size: 2rem;
        text-align: center;

    }

    &__heading {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    &__button {
        text-align: center;
        font-size: 2rem;
    }

    &__read-more {
        font-size: 2rem;
        text-align: center;
    }
}

.story--red {

    background-image: linear-gradient(to right ,$color-blue-dark, $color-blue-dark);
    color: $color-red-dark;

}