@keyframes fadeFromLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hover-zoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

[data-aos="show-item"] {
    width: 100%;
    background-color: $color-primary;
    animation-timing-function: cubic-bezier(0,1.11,.02,.95);
    transition-property: background-color, width;
    &.aos-animate {
        width: 0%;
    }

  }

  [data-aos="animate-strap"] {
    background-size: 46%;
    
    transition-property: background-size;
    &.aos-animate {
        background-size: 200%;
    }

  }

  [data-aos="show-text"] {
    color: $color-primary-dark;
    transition-property: color;
    &.aos-animate {
        color: $color-red-dark;
    }

  }
  