
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    // Regular 400
    // Medium 500
    // Bold 700
    font-weight: 500;
    color: $color-primary-light;
    font-size: 62.5%;
    background-color: $color-primary-dark;

    @include addMediaQuery(tablet) {
        font-size: 40.5%;
    }
}
