.heading-secondry {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}

.heading-tertiary {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}

.paragraph {
    font-size: 2rem;
    word-spacing: 0.1rem;
    text-align: center; 
}