.u-center-text {
    text-align: center;
}

.u-margin-bottom-large {
    margin-bottom: 5rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 3.5rem;
}

.u-padding-top-medium {
    padding-top: 3rem;
}

.u-margin-top-large {
    margin-top: 5rem;
}