.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom  , rgba(60, 60, 60, 0.8) , $color-primary-dark), url(../img/butterfly.jpg);
    background-position: center;
    background-size: cover;
    animation-name: fade;
    animation-duration: 1s;


    &__logo-box {
        float: left;
        margin-top: 1.5rem;
        margin-left: 1.3rem;
    }

    &__logo {
        font-size: 4.2rem;
        animation-name: fadeInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include addMediaQuery(phone-l) {
            font-size: 3.2rem;
        }
    }

    &__quote-box {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        backface-visibility: hidden;

    }

    &__quote {
        font-size: 3rem;
        animation-name: fade;
        animation-duration: 4s;
        animation-fill-mode: backwards;
        animation-delay: 1s;
        margin-bottom: 5rem;

        @include addMediaQuery(phone-l) {
            font-size: 2.2rem;
        }
    }
    

}

.navigation {
    float: right;
    list-style: none;
    margin-top: 2.5rem;
    margin-right: 1.3rem;


    & li {
        display: inline-block;
        padding-left: 2rem;


        & a:link,
        & a:visited {
            text-decoration: none;
            font-weight: 500;
            font-size: 2rem;
            color: $color-grey;
            transition: color 0.2s;
        }

        & a:hover,
        & a:active {
            color: $color-grey-dark;
        }
                
    }

}