.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom  , rgba(60, 60, 60, 0.8) , $color-primary-dark), url(../img/butterfly.jpg);
    background-position: center;
    background-size: cover;
    animation-name: fade;
    animation-duration: 1s;
    


    &__logo-box {
        position: absolute;
        top: 5%;
        left: 5%;
    }

    &__logo {
        font-size: 42px;
        animation-name: fadeInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &__quote-box {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        backface-visibility: hidden;

    }

    &__quote {
        font-size: 3rem;
        animation-name: fade;
        animation-duration: 4s;
        animation-fill-mode: backwards;
        animation-delay: 1s;
        margin-bottom: 5rem;
    }
    
    .navigation {
        float: right;
        list-style: none;
        margin-top: 3%;
        margin-right: 2%;
    
        & li {
            display: inline-block;
            padding-left: 2rem;
    
           & a:link,
           & a:visited {
                text-decoration: none;
                font-weight: 500;
                font-size: 2rem;
                color: $color-grey;
                transition: color 0.2s;
            }
    
            & a:hover,
            & a:active {
                color: $color-grey-dark;
            }
                    
        }
    
    }
}